# Ignorar todo lo que genera whatsapp-web.js
.wwebjs_auth/*
.wwebjs_cache/*
**/Default/
**/IndexedDB/
**/Local Storage/
**/Service Worker/
**/Session Storage/

# PERMITIR solo el ZIP persistente
!.wwebjs_auth/*.zip
node_modules/
